<div class="d-flex align-items-center justify-content-center my-5">
  <div class="text-center container ">
    <div class="form-head d-flex mb-3 align-items-start">

      <form class="text-start repeater row basic-form card-body row " [formGroup]="governorateform" (ngSubmit)="Add($event)">
        <div class="form-group col-md-6 my-3">
          <label class="form-label">Governorate Name</label>
          <input type="text" class="form-control" placeholder="Enter Governorate Name" formControlName="Name">
          <ng-container *ngIf="submitted &&governorateform.controls.Name.errors">
            <div *ngIf="getName.hasError('required')" class="form-text text-danger">Governorate name is
              required </div>

          </ng-container>
        </div>
        <div class="form-group col-md-6 my-3">
          <label class="form-label"> Code</label>
          <input type="text" class="form-control" placeholder="Enter Governorate code " formControlName="Code">
          <ng-container *ngIf="submitted &&governorateform.controls.Code.errors">
            <div *ngIf="getCode.hasError('required')" class="form-text text-danger">Governorate Code is
              required</div>
          </ng-container>
          <ng-container *ngIf="submitted&& governorateform.controls.Code.errors">
            <div *ngIf="getCode.hasError('pattern')" class="form-text text-danger">Governorate Code is
              Numbers only</div>
           
          </ng-container>
        </div>
      



        <div class=" row justify-content-center">
        <button type="submit" class="btn btn-primary col-md-2">{{govId?"Edit":"Add"}}</button>
        </div>
      </form>
    </div>

</div>
</div>


  <div class="justify-content-center  container ">
    <div class="my-5">

    </div>
    <table class="table">
      <thead>
        <tr>
          
          <th scope="col"><strong>Code</strong></th>
          <th scope="col"><strong>Name</strong></th>
         <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gov of governorates">
          
          <td>{{gov.code}}</td>
          <td>{{gov.name}}</td>

          <td>


            <button class="btn btn-warning mx-1" routerLink="/governorate/{{gov.id}}"
              routerLinkActive="bg-light rounded text-dark" [routerLinkActiveOptions]="{exact:true}"><span
                class="material-symbols-outlined">
                Edit
              </span></button>

            <button class="btn btn-danger" (click)="openDialog(gov.id)"><span
              class="material-symbols-outlined">
              Delete
            </span> </button>
          </td>
        </tr>

      </tbody>
    </table>

 </div>