


  <div class="sidenav justify-content-center mh-100">
    <h3  class="font-weight-bold text-center navbar-brand  " >Dashboard</h3>
  
    <hr>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class=" nav-link mx-3 my-2 p-2 " routerLink="/governorate" routerLinkActive="router-link-active" >Governorate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " routerLink="/group" routerLinkActive="router-link-active" >Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " routerLink="/branch" routerLinkActive="router-link-active" >Branch</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " routerLink="/user/Account/users" routerLinkActive="router-link-active" >User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " routerLink="/provider" routerLinkActive="router-link-active" >Provider</a>
      </li>

      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " routerLink="/central" routerLinkActive="router-link-active" >Central</a>
      </li>

      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " routerLink="/bundle" routerLinkActive="router-link-active" >Bundle</a>
      </li>

      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " routerLink="/client" routerLinkActive="router-link-active" >Client</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " routerLink="/offer" routerLinkActive="router-link-active" >Offer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " routerLink="/bill" routerLinkActive="router-link-active" >Bill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " routerLink="/" routerLinkActive="router-link-active" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3 my-2 p-2 " [routerLink]="['/']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >Logout</a>
      </li>
    </ul>

  </div>
  
















